[submodule "meta/zsh-quickstart-kit"]
	path = meta/zsh-quickstart-kit
	url = https://github.com/unixorn/zsh-quickstart-kit
[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "meta/dotbot-brewfile"]
	path = meta/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "personal"]
	path = personal
	url = git@github.com:fabiosouzadev/personal.git
[submodule "mglu"]
	path = mglu
	url = git@github.com:fabiosouzadev/mglu.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:fabiosouzadev/nvim.git
